body {

font-family: 'Ubuntu Condensed', sans-serif;
background-color: #B200B1;
color: #57FF00
}

h1 {
  text-align: center;
  color: #57FF00
}

h2 {
  text-align: center;
  color: #57FF00
}

tr:nth-child(odd) {
  text-align: center;
  background-color: purple

}

th {
  text-align:center;
}

main {
  text-align: center;
}

footer {
  text-align: center;
}

header {
background-color: #FF19FD;
}
